@model CyberCareServices.ViewModels.ComponentViewModel

@{
    ViewData["Title"] = "Component Details";
}

<h1>@Model.ComponentType</h1>
<hr />
<div>
    <h3>Details:</h3>
    <dl class="row">
        <dt class="col-sm-2">> Brand</dt>
        <dd class="col-sm-10">@Model.Brand</dd>

        <dt class="col-sm-2">> Manufacturer</dt>
        <dd class="col-sm-10">@Model.Manufacturer</dd>

        <dt class="col-sm-2">> Country of Origin</dt>
        <dd class="col-sm-10">@Model.CountryOfOrigin</dd>

        <dt class="col-sm-2">> Release Date</dt>
        <dd class="col-sm-10">@Model.ReleaseDate?.ToString("d")</dd>

        <dt class="col-sm-2">> Specifications</dt>
        <dd class="col-sm-10">@Model.Specifications</dd>

        <dt class="col-sm-2">> Warranty Period</dt>
        <dd class="col-sm-10">@Model.WarrantyPeriod</dd>

        <dt class="col-sm-2">> Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">> Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ComponentId" class="page page-primary">Edit</a>
    <a asp-action="Index" class="page page-primary backtolist-btn"><i class="bi bi-arrow-left"></i> Back to List <i class="bi bi-arrow-left"></i></a>
</div>