@model CyberCareServices.ViewModels.RoleManagementViewModel

@{
    ViewData["Title"] = "Role Management";
}

<h1>Role Management</h1>

<table class="role-table">
    <thead>
        <tr>
            <th width="20%">User</th>
            <th>Roles</th>
            <th>Role Management</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model.UserRoles)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "Users", new { userId = userRole.UserId })'">
                <td>@userRole.UserName</td>
                <td>
                    @foreach (var role in userRole.Roles)
                    {
                        <span>@role</span>

                        <br />
                    }
                </td>
                <td>
                    @foreach (var role in Model.Roles)
                    {
                        <div>
                            @if (userRole.Roles.Contains(role.Name))
                            {
                                <!-- Кнопка для удаления роли -->
                                <form method="post" asp-action="RemoveRole">
                                    <input type="hidden" name="userId" value="@userRole.UserId" />
                                    <input type="hidden" name="roleName" value="@role.Name" />
                                    <button type="submit" class="role-btn take-over">
                                        Take over "@role.Name"
                                    </button>
                                </form>
                            }
                            else
                            {
                                <!-- Кнопка для добавления роли -->
                                <form method="post" asp-action="AddRole">
                                    <input type="hidden" name="userId" value="@userRole.UserId" />
                                    <input type="hidden" name="roleName" value="@role.Name" />
                                    <button type="submit" class="role-btn make">
                                        Make "@role.Name"
                                    </button>
                                </form>
                            }
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-userId="@userRole.UserId" class="btn btn-link cruid-icon">
                        <i class="bi bi-pencil-square edit-i"></i>
                    </a>
                    <a asp-action="Delete" asp-route-userId="@userRole.UserId" class="btn btn-link text-danger cruid-icon">
                        <i class="bi bi-trash delete-i"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
