@model CyberCareServices.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order #@Model.OrderId</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">Order Date</dt>
        <dd class="col-sm-10">@Model.OrderDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Completion Date</dt>
        <dd class="col-sm-10">@Model.CompletionDate?.ToShortDateString()</dd>

        <dt class="col-sm-2">Customer Name</dt>
        <dd class="col-sm-10">@Model.CustomerName</dd>

        <dt class="col-sm-2">Total Cost</dt>
        <dd class="col-sm-10">@Model.TotalCost.ToString("C")</dd>

        <dt class="col-sm-2">Payment Status</dt>
        @if(Model.PaymentStatus)
        {
            <dd class="col-sm-10"><i class="bi bi-check2"></i></dd>
        }
        else
        {
            <dd class="col-sm-10"><i class="bi bi-x-lg"></i></dd>
        }

        <dt class="col-sm-2">Completion Status</dt>
        @if (Model.CompletionStatus)
        {
            <dd class="col-sm-10"><i class="bi bi-check2"></i></dd>
        }
        else
        {
            <dd class="col-sm-10"><i class="bi bi-x-lg"></i></dd>
        }

        <dt class="col-sm-2">Prepayment</dt>
        <dd class="col-sm-10">@Model.Prepayment?.ToString("C")</dd>

        <dt class="col-sm-2"> Warranty Period</dt>
        <dd class="col-sm-10">@Model.WarrantyPeriod</dd>

        <dt class="col-sm-2">Employee Name</dt>
        <dd class="col-sm-10">@Model.EmployeeName</dd>
    </dl>
</div>

<hr />

<h3>> Components</h3>
<table class="components-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Component Type</th>
            <th width="5%">Brand</th>
            <th>Specifications</th>
            <th>Manufacturer</th>
            <th>Country</th>
            <th width="5%">Release Date</th>
            <th width="5%">Warranty (months)</th>
            <th>Price</th>
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var component in Model.Components)
        {
            <tr onclick="location.href='@Url.Action("Details", "Components", new { id = component.ComponentId })';">
                <td>@component.ComponentId</td>
                <td>@component.ComponentType</td>
                <td>@component.Brand</td>
                <td>@(string.IsNullOrEmpty(component.Specifications) ? "Not specified" : component.Specifications)</td>
                <td>@(string.IsNullOrEmpty(component.Manufacturer) ? "Not specified" : component.Manufacturer)</td>
                <td>@(string.IsNullOrEmpty(component.CountryOfOrigin) ? "Not specified" : component.CountryOfOrigin)</td>
                <td>@(component.ReleaseDate?.ToString("yyyy-MM-dd") ?? "Not specified")</td>
                <td>@component.WarrantyPeriod</td>
                <td>@component.Price.ToString("C2")</td>
                <td>
                    <a asp-action="DeleteComponent" asp-route-orderid="@Model.OrderId" asp-route-componentid="@component.ComponentId" class="btn btn-link text-danger cruid-icon">
                        <i class="bi bi-trash delete-i"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<figure class="d23">
    <div class="plus-ico">
        <a href="@Url.Action("AddComponent", "Orders", new { orderId = Model.OrderId })"><i class="bi bi-plus-circle-dotted"></i></a>
    </div>
</figure>


<hr class="line-separator" />

<h3>> Services</h3>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model.Services)
        {
            <tr onclick="location.href='@Url.Action("Details", "Services", new { id = service.ServiceId })';">
                <td>@service.ServiceId</td>
                <td>@service.Name</td>
                <td>@service.Description</td>
                <td>@service.Cost.ToString("C")</td>
                <td>
                    <a asp-action="DeleteService" asp-route-orderid="@Model.OrderId" asp-route-serviceid="@service.ServiceId" class="btn btn-link text-danger cruid-icon">
                        <i class="bi bi-trash delete-i"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<figure class="d23">
    <div class="plus-ico">
        <a href="@Url.Action("AddService", "Orders", new { orderId = Model.OrderId })"><i class="bi bi-plus-circle-dotted"></i></a>
    </div>
</figure>


<hr class="line-separator" />


<div class="btn-center">
    <a asp-action="Edit" asp-route-id="@Model.OrderId" class="page page-primary save-btn">Edit</a>
    <a asp-action="Index" class="page page-primary backtolist-btn"><i class="bi bi-arrow-left"></i>  Back to List  <i class="bi bi-arrow-left"></i></a>
</div>
