@using CyberCareServices.ViewModels
@model OrdersViewModel

@{
    ViewData["Title"] = "Orders Overview";
}

<div class="table-name">
    <h1>Orders</h1>
    <div class="plus-ico">
        <a asp-action="Create"><i class="bi bi-plus-circle-dotted"></i></a>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th width="9%">Received</th>
            <th width="9%">Completed</th>
            <th>Customer</th>
            <th width="5%">Payment Status</th>
            <th width="5%">Status</th>
            <th width="10%">Total Cost</th>
            <th>Employee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr onclick="location.href='@Url.Action("Details", "Orders", new { id = order.OrderId })';">
                <td>@order.OrderId</td>
                <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
                <td>@order.CompletionDate?.ToString("yyyy-MM-dd")</td>
                <td>@order.CustomerName</td>
                <td>@(order.PaymentStatus ? "Paid" : "Unpaid")</td>
                <td>@(order.CompletionStatus ? "Completed" : "Pending")</td>
                <td>@order.TotalCost</td>
                <td>@order.EmployeeName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@order.OrderId" class="btn btn-link cruid-icon">
                        <i class="bi bi-pencil-square edit-i"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@order.OrderId" class="btn btn-link text-danger cruid-icon">
                        <i class="bi bi-trash delete-i"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="page page-outline-dark pagination-btn">
            <i class="bi bi-arrow-up pgn-arrrows"></i>
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="page page-outline-dark pagination-btn">
            <i class="bi bi-arrow-down pgn-arrrows"></i>
        </a>
    }
</div>

<div class="add-container">
    <a asp-action="Create" class="page page-primary">Add New Order <i class="bi bi-plus-square-dotted"></i></a>
</div>

