@using CyberCareServices.Model
@model CyberCareServices.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Cyber Care Services Overview";
}

<h1>Cyber Care Services</h1>
    <h3>> Типы компонентов</h3>
<table>
    <tr>
        <th width="5%">#</th>
        <th width="20%">Название типа</th>
        <th>Описание</th>
    </tr>
    @foreach (var componentType in Model.ComponentTypes)
    {
        <tr>
            <td>@componentType.ComponentTypeId</td>
            <td>@componentType.Name</td>
            <td>@componentType.Description</td>
        </tr>
    }
</table>

<h3>> Компоненты</h3>
<table>
    <tr>
        <th width="2%">#</th>
        <th width="10%">Тип компонента</th>
        <th width="10%">Бренд</th>
        <th width="10%">Производитель</th>
        <th width="10%">Страна</th>
        <th width="10%">Дата выхода</th>
        <th width="18%">Спецификация</th>
        <th width="5%">Гарантия (мес.)</th>
        <th width="18%">Описание</th>
        <th width="5%">Цена</th>
    </tr>
    @foreach (var component in Model.Components)
    {
        <tr>
            <td>@component.ComponentId</td>
            <td>@component.ComponentType</td>
            <td>@component.Brand</td>
            <td>@component.Manufacturer</td>
            <td>@component.CountryOfOrigin</td>
            <td>@component.ReleaseDate</td>
            <td>@component.Specifications</td>
            <td>@component.WarrantyPeriod</td>
            <td>@component.Description</td>
            <td>@component.Price</td>
        </tr>
    }
</table>

<h3>> Клиенты</h3>
<table>
    <tr>
        <th>#</th>
        <th>Полное имя</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Активность скидки</th>
        <th>Скидка %</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td width="5%">@customer.CustomerId</td>
            <td>@customer.FullName</td>
            <td>@customer.Address</td>
            <td>@customer.Phone</td>
            <td width="10%">@customer.DiscountAvailable</td>
            <td width="10%">@customer.DiscountAmount</td>
        </tr>
    }
</table>

<h3>> Сотрудники</h3>
<table>
    <tr>
        <th width="5%">#</th>
        <th>Полное имя</th>
        <th>Должность</th>
        <th width="10%">Принят на работу</th>
        <th width="10%">День рождения</th>
        <th>Телефон</th>
        <th>EMail</th>
    </tr>
    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.FullName</td>
            <td>@employee.Position</td>
            <td>@employee.DateOfHire</td>
            <td>@employee.DateOfBirth</td>
            <td>@employee.Phone</td>
            <td>@employee.Email</td>
        </tr>
    }
</table>

<h3>> Услуги</h3>
<table>
    <tr>
        <th width="2%">#</th>
        <th width="20%">Название услуги</th>
        <th>Описание</th>
        <th width="10%">Стоимость</th>
    </tr>
    @foreach (var service in Model.Services)
    {
        <tr>
            <td>@service.ServiceId</td>
            <td>@service.Name</td>
            <td>@service.Description</td>
            <td>@service.Cost</td>
        </tr>
    }
</table>

<h3>> Заказы</h3>
<table>
    <tr>
        <th width="5%">#</th>
        <th width="7.5%">Принят</th>
        <th width="7.5%">Выполнен</th>
        <th width="15%">Клиент</th>
        <th>Предоплата</th>
        <th>Статус оплаты</th>
        <th>Статус выполнения</th>
        <th>Общая стоимость</th>
        <th>Гарантия (мес.)</th>
        <th width="15%">Cотрудник</th>
    </tr>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.OrderDate</td>
            <td>@order.CompletionDate</td>
            <td>@Model.Customers.FirstOrDefault(c => c.CustomerId == @order.CustomerId, new Customer(){FullName = "Customer is not found"}).FullName</td>
            <td>@order.Prepayment</td>
            <td>@(order.PaymentStatus ? "Оплачено" : "Не оплачено")</td>
            <td>@order.CompletionStatus</td>
            <td>@order.TotalCost</td>
            <td>@order.WarrantyPeriod</td>
            <td>@order.EmployeeId</td>
        </tr>
    }
</table>