@using CyberCareServices.Model
@model CyberCareServices.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Cyber Care Services Overview";
}

<h1>Cyber Care Services</h1>
<h3>> Component Types</h3>
<table>
    <tr>
        <th>#</th>
        <th width="20%">Type Name</th>
        <th>Description</th>
    </tr>
    @foreach (var componentType in Model.ComponentTypes)
    {
        <tr>
            <td>@componentType.ComponentTypeId</td>
            <td>@componentType.Name</td>
            <td>@componentType.Description</td>
        </tr>
    }
</table>

<h3>> Components</h3>
<table>
    <tr>
        <th>#</th>
        <th width="10%">Component Type</th>
        <th width="7%">Brand</th>
        <th width="10%">Manufacturer</th>
        <th width="7%">Country</th>
        <th width="7%">Release Date</th>
        <th>Specifications</th>
        <th width="5%">Warranty (months)</th>
        <th>Description</th>
        <th width="5%">Price</th>
    </tr>
    @foreach (var component in Model.Components)
    {
        <tr>
            <td>@component.ComponentId</td>
            <td>@component.ComponentType</td>
            <td>@component.Brand</td>
            <td>@component.Manufacturer</td>
            <td>@component.CountryOfOrigin</td>
            <td>@component.ReleaseDate</td>
            <td>@component.Specifications</td>
            <td>@component.WarrantyPeriod</td>
            <td>@component.Description</td>
            <td>@component.Price</td>
        </tr>
    }
</table>

<h3>> Customers</h3>
<table>
    <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th width="10%">Discount Active</th>
        <th width="10%">Discount %</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.CustomerId</td>
            <td>@customer.FullName</td>
            <td>@customer.Address</td>
            <td>@customer.Phone</td>
            <td>@customer.DiscountAvailable</td>
            <td>@customer.DiscountAmount</td>
        </tr>
    }
</table>

<h3>> Employees</h3>
<table>
    <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Position</th>
        <th width="10%">Hired On</th>
        <th width="10%">Date of Birth</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.FullName</td>
            <td>@employee.Position</td>
            <td>@employee.DateOfHire</td>
            <td>@employee.DateOfBirth</td>
            <td>@employee.Phone</td>
            <td>@employee.Email</td>
        </tr>
    }
</table>

<h3>> Services</h3>
<table>
    <tr>
        <th>#</th>
        <th width="20%">Service Name</th>
        <th>Description</th>
        <th width="10%">Cost</th>
    </tr>
    @foreach (var service in Model.Services)
    {
        <tr>
            <td>@service.ServiceId</td>
            <td>@service.Name</td>
            <td>@service.Description</td>
            <td>@service.Cost</td>
        </tr>
    }
</table>

<h3>> Orders</h3>
<table>
    <tr>
        <th>#</th>
        <th width="7.5%">Received</th>
        <th width="7.5%">Completed</th>
        <th width="15%">Customer</th>
        <th>Prepayment</th>
        <th>Payment Status</th>
        <th>Completion Status</th>
        <th>Total Cost</th>
        <th>Warranty (months)</th>
        <th width="15%">Employee</th>
    </tr>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.OrderDate</td>
            <td>@order.CompletionDate</td>
            <td>@Model.Customers.FirstOrDefault(c => c.CustomerId == @order.CustomerId, new Customer() { FullName = "Customer is not found" }).FullName</td>
            <td>@order.Prepayment</td>
            <td>@(order.PaymentStatus ? "Paid" : "Not Paid")</td>
            <td>@order.CompletionStatus</td>
            <td>@order.TotalCost</td>
            <td>@order.WarrantyPeriod</td>
            <td>@order.EmployeeId</td>
        </tr>
    }
</table>
